# Environment files
.env
.env.*
!.env.example

# macOS
.DS_Store

# Logs
*.log

# Dependencies
node_modules/

# Build outputs
.next/
dist/
build/
out/

# Prisma generated client (if applicable)
/app/generated/prisma
